@addTagHelper *, GGCore.Web.Widget
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@*<div class="alert_box success">
	<span class="material-icons ico">done</span>
	<p>{{'MyInfo.Account.BankInfo.SuccessMassage' | translate}}</p>
</div>*@

<div class="bankInfo_box mb-20 pt-0" ng-if="ChangeContraAccount.isNL">
	<div class="bankInfo_input_box">
		<div class="flex_field fluid_row col_9">
			<div class="inst_box">
				<div class="bankInfoChange_box inst_txt">
					<div class="title" translate="{{'MyInfo.Account.BankInfo.BankName' | translate}}"></div>
					<div class="bankName_value" translate="{{'MyInfo.Account.BankInfo.BankName' | translate}}" ng-model="Personal.Model.personal.FirstName"></div>
				</div>
				<span class="inst_box_border"></span>
				<div class="bankInfoChange_box inst_txt">
					<div class="title" translate="{{'MyInfo.Account.BankInfo.Account' | translate}}"></div>
					<div class="account_value" translate="{{'MyInfo.Account.BankInfo.Account' | translate}}" ng-model="Personal.Model.personal.FirstName"></div>
				</div>
			</div>
		</div>

		<div class="col_3">
			<button type="button" class="btn" ng-disabled="ChangeContraAccount.btnDisabled === true" ng-click="ChangeContraAccount.openVerifyKycSignicatModal()">{{'Common.Change' | translate}}</button>
		</div>
	</div>
</div>


